<div class="container">
  <div class="headers">
    <div class="heading">{{title}}</div>
    <button class="button-77" role="button" (click)="goBack()">View News Feed</button>
  </div>

  <div class="card-grid">
    <ng-container *ngFor="let bookmark of bookmarks">
      <mat-card class="example-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <p class="url">
            <span class="description">{{bookmark.title | slice:0:15}} | </span><a [href]="bookmark.url" target="_blank">{{ bookmark.url | slice: 0:23 }}...</a>
          </p>
        </mat-card-content>
        <mat-card-actions class="style-button">
          <button class="button-33" role="button" (click)="removeBookmark(bookmark)" style="position: absolute; bottom: 2px;">Remove Bookmark</button>

        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
  <div id="back-to-top" title="Back to Top" (click)="scrollToTop()" *ngIf="showBackToTopButton">↑</div>
</div>
